In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('startup_funding.csv')

data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [3]:
data_req = data[data['CityLocation'].str.lower().isin(['bangalore', 'new delhi', 'delhi'])]

In [4]:
amount_data = data_req['AmountInUSD']

amount_data = amount_data.str.replace(",", "")
amount_data.head()
amount_data.dropna(inplace=True)
amount_data = pd.to_numeric(amount_data)


amount_data.head()

0      1300000
5      1000000
8      8500000
13     1000000
19    18500000
Name: AmountInUSD, dtype: int64

In [26]:
sample_size = 75

sample_data = amount_data.sample(sample_size, replace=True) # with replacement Sampling

In [27]:
print(f"data_req AVG: {amount_data.mean()}, sample_data AVG: {sample_data.mean()}")
print(f"data_req MIN: {amount_data.min()}, sample_data MIN: {sample_data.min()}")
print(f"data_req MAX: {amount_data.max()}, sample_data MAX: {sample_data.max()}")

data_req AVG: 18017834.317152105, sample_data AVG: 8038773.333333333
data_req MIN: 18000, sample_data MIN: 100000
data_req MAX: 1400000000, sample_data MAX: 71000000

In [28]:
print(f'Average Funding Error: {amount_data.mean() - sample_data.mean()}')

Average Funding Error: 9979060.983818773