In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('startup_funding.csv')

data.head()

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN

In [3]:
data_np = np.array(data['CityLocation'].dropna())
print(np.unique(data_np))

['Agra' 'Ahmedabad' 'Bangalore' 'Bangalore / Palo Alto' 'Bangalore / SFO'
 'Bangalore / San Mateo' 'Bangalore / USA' 'Bangalore/ Bangkok' 'Belgaum'
 'Bhopal' 'Boston' 'Chandigarh' 'Chennai' 'Chennai/ Singapore'
 'Coimbatore' 'Dallas / Hyderabad' 'Delhi' 'Goa' 'Goa/Hyderabad' 'Gurgaon'
 'Gurgaon / SFO' 'Gwalior' 'Hubli' 'Hyderabad' 'Hyderabad/USA'
 'India / US' 'Indore' 'Jaipur' 'Jodhpur' 'Kanpur' 'Karur' 'Kerala'
 'Kochi' 'Kolkata' 'Kozhikode' 'London' 'Lucknow' 'Missourie' 'Mumbai'
 'Mumbai / Global' 'Mumbai / NY' 'Mumbai / UK' 'Nagpur' 'New Delhi'
 'New Delhi / California' 'New Delhi / US' 'New Delhi/ Houston'
 'New York/ India' 'Noida' 'Noida / Singapore' 'Panaji' 'Pune'
 'Pune / Dubai' 'Pune / Singapore' 'Pune / US' 'Pune/Seattle'
 'SFO / Bangalore' 'Seattle / Bangalore' 'Siliguri' 'Singapore' 'Surat'
 'Trivandrum' 'US' 'US/India' 'USA' 'USA/India' 'Udaipur' 'Udupi'
 'Vadodara' 'Varanasi' 'bangalore']

In [4]:
data_bangalore = data[data['CityLocation'].str.lower().isin(['bangalore'])]
data_NCR = data[data['CityLocation'].str.lower().isin(['delhi', 'new delhi', 'gurgaon', 'noida'])]
data_Mumbai = data[data['CityLocation'].str.lower().isin(['mumbai'])]
data_Pune = data[data['CityLocation'].str.lower().isin(['pune'])]
data_Hyd = data[data['CityLocation'].str.lower().isin(['hyderabad'])]

# Propotinal Stratified Sampling 
### formula to calculate samples in ith strata
    (No_of_values_ith Strata / population_size ) * Sample_Size

In [24]:
sample_size = 50

sample_bangalore = data_bangalore.sample(int((len(data_bangalore)/len(data))*sample_size))
sample_NCR = data_NCR.sample(int((len(data_NCR)/len(data))*sample_size))
sample_Mumbai = data_Mumbai.sample(int((len(data_Mumbai)/len(data))*sample_size))
sample_Pune = data_Pune.sample(int((len(data_Pune)/len(data))*sample_size))
sample_Hyd = data_Hyd.sample(int((len(data_Hyd)/len(data))*sample_size))

In [23]:
total_sample = pd.concat([sample_bangalore, sample_NCR, sample_Mumbai, sample_Pune, sample_Hyd])

total_sample.shape

(38, 10)